.section{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    

}

.content{
    display: flex;
    flex-direction: column;
    margin-bottom: 10vw;
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 80px 40px;
    
    width: 100%;
    
   
   
}

.bg{
    background-size: cover;
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
   z-index: -1;
    position: absolute;
    width: 100%;
    
}


.ctaLogo{
margin-bottom: 12px;
max-width: 600px;
min-height: 1px;
display: block;
width: 100%;
}

.ctaLogo2{
    margin-bottom: 12px;
    max-width: 600px;
    min-height: 1px;
    display: block;
    width: 100%;
    }

.cta{
    margin-bottom: 2vw;
    max-width: 650px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    
}

.signupButton{
    font-weight: bold;
    color: #f9f9f9;
    background-color: #0063e5;
    margin-bottom: 12px;
    width: 100%;
    letter-spacing: 1.5px;
    font-size: 18px;
    padding: 16.5px 0;
    border: 1px solid transparent;
    border-radius: 4px;


    &:hover{
        background-color: #0483ee;
    }
   
}

.decription{
    color: hsla(0, 0%, 95.3%, 1);
    font-size: 11pt;
    margin: 0 0 24px;
    line-height: 1.45;
    letter-spacing: 1.3px;
}



